<footer class="fixed bottom-0 w-full bg-white border-t border-gray-200">
  <nav class="px-4 py-2">
    <ul class="flex justify-between items-center">
      <li class="w-1/4 text-center">
        <%= link_to class: "flex flex-col items-center justify-center" do %>
          <%= image_tag "home.svg", class: "h-6 w-6 mx-auto", alt: "ホーム" %>
          <span class="text-xs mt-1">ホーム</span>
        <% end %>
      </li>
      <li class="w-1/4 text-center">
        <%= link_to class: "flex flex-col items-center justify-center" do %>
          <%= image_tag "ranking.svg", class: "h-6 w-6 mx-auto", alt: "ランキング" %>
          <span class="text-xs mt-1">ランキング</span>
        <% end %>
      </li>
      <li class="w-1/4 text-center">
        <%= link_to new_post_path class: "flex flex-col items-center justify-center" do %>
          <%= image_tag "create.svg", class: "h-6 w-6 mx-auto", alt: "投稿作成" %>
          <span class="text-xs mt-1">投稿作成</span>
        <% end %>
      </li>
      <li class="w-1/4 text-center">
        <%= link_to class: "flex flex-col items-center justify-center" do %>
          <%= image_tag "profile.svg", class: "h-6 w-6 mx-auto", alt: "マイページ" %>
          <span class="text-xs mt-1">マイページ</span>
        <% end %>
      </li>
    </ul>
  </nav>
</footer>