<%= form_with model: @post, class: "p-4 min-h-screen flex flex-col pb-20" do |form| %>
  <!-- 都道府県選択フォーム -->
  <div class="mb-6 mt-6">
    <p class="block text-sm font-medium text-gray-700 mb-2">都道府県選択</p>
    <%= form.collection_select :prefecture_id,
                              @prefectures,
                              :id,
                              :name,
                              { prompt: "都道府県を選択してください" },
                              { class: "block w-full pl-3 pr-10 py-3 text-base border border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 rounded-md text-gray-400",
                                onchange: "this.classList.remove('text-gray-400')" } %>
  </div>

  <!-- 写真選択 -->
  <div class="mb-6" data-controller="post-prev">
    <p class="block text-sm font-medium text-gray-700 mb-2">写真を選択</p>

    <label for="pi" class="hover:border-blue-500 hover:border-solid hover:text-blue-500 group w-full flex flex-col items-center justify-center rounded-md border-2 border-dashed border-slate-300 text-sm leading-6 text-gray-400 font-medium py-3 cursor-pointer">
      <svg class="group-hover:text-blue-500 mb-1 text-slate-400" width="20" height="20" fill="currentColor" aria-hidden="true">
        <path d="M10 5a1 1 0 0 1 1 1v3h3a1 1 0 1 1 0 2h-3v3a1 1 0 1 1-2 0v-3H6a1 1 0 1 1 0-2h3V6a1 1 0 0 1 1-1Z" />
      </svg>
      <span>タップして写真を選択しよう！<br>※画像は最大10枚まで投稿できます</span>

      <%= form.fields_for :post_images do |pi| %>
        <%= pi.file_field :image, multiple: true, name: "post_images[image][]", data: { action: "change->post-prev#displayPreview" }, class: "hidden", id: "pi" %>
      <% end %>
    </label>
    <!-- プレビュー表示 -->
    <div data-post-prev-target="preview" class="mt-4 flex gap-2 overflow-x-auto"></div>
  </div>

  <!-- 投稿内容・ハッシュタグのインラインタグ機能 -->
  <div class="mb-6">
    <p class="block text-sm font-medium text-gray-700 mb-2">投稿内容</p>
    <%= form.text_area :content, class: "resize-none w-full border border-gray-300 rounded-md p-2 pb-[300px] placeholder-gray-400 hover:border-blue-500", placeholder: "投稿内容を入力してください" %>
  </div>

  <!-- 投稿ボタン -->
  <div class="flex justify-center">
    <%= form.submit '投稿する',
        class: 'w-[240px] bg-blue-600 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded-full transition duration-150 ease-in-out transform hover:scale-[1.02] focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2' %>
  </div>
<% end %>