<div class="mx-auto min-h-screen pb-16">
  <%= render "shared/header/login_header" %>

  <h2 class="text-xl font-bold p-4">ハッシュタグ「#<%= @tag.name %>」の投稿</h2>

  <% if @posts.present? %>
    <% @posts.each do |post| %>
      <div class="w-full">
        <div class="flex items-center gap-5 p-4">
          <%= image_tag "sample_icon1.svg", alt: "travel_Taro", class: "w-12 h-12 object-cover rounded-full" %>
          <div>
            <h4 class="font-bold mb-1"><%= post.user.uid %></h4>
            <div class="flex items-center text-sm text-gray-600">
              <span><%= post.prefecture.name %></span>
            </div>
          </div>
        </div>
        <%= image_tag "post-okinawa.png", alt: "沖縄のビーチ", class: "w-full h-50 object-cover mb-4" %>
        <p class="text-gray-800 p-4"><%= format_content_with_hashtags(post.content) %></p>
        <div class="flex gap-2 mb-4 p-4">
          <% post.hashtags.each do |tag| %>
            <%= link_to "/posts/hashtag/#{tag.name}", class: "text-xs bg-blue-50 text-blue-600 px-2 py-1 rounded-full" do %>
              <%= tag.name %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="mb-3">投稿がありません</div>
  <% end %>

  <%= render "shared/footer/login_footer" %>
</div>